{% extends "base.html" %}

{% block title %}
<title>Admin Income - Rekap Me</title>
{% endblock %}

{% block content %}
<h3 class="text-center">Admin Income</h3>
<div class="row">
  <div class="container">
    <div class="card no-print">
      <div class="card-body">
        <form action="#" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Enter ID: </span>
            </div>
              <input class="form-control" type="customerID" name="customerID" placeholder="Admin ID" required/>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Start &raquo;</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
